.footer {
  display: flex;
  justify-content: center;
}
.footer__copyright {
  max-width: 194px;
  max-height: 16px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .footer__copyright {
    max-height: 14px;
  }
}
