.gallery {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  margin: 118px auto 92px;
}
.gallery__image {
  width: 100%;
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .gallery {
    max-width: 720px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 64px auto 88px;
  }
}
@media screen and (min-width: 320px) and (max-width: 544px) {
  .gallery {
    max-width: 288px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    margin: 38px auto 62px;
    row-gap: 12px;
  }
}
