.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo {
  max-width: 254.84px;
  max-height: 68.94px;
  width: 100%;
  margin-top: 34px;
  padding-bottom: 91.06px;
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
}
.header__title {
  max-width: 720px;
  font-family: "Inter-Black", Arial, sans-serif;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}
.header__text {
  max-width: 720px;
  font-family: "Inter", Arial;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 64px;
}
.header__content-image {
  max-width: 984px;
  max-height: 615px;
  margin: auto;
  width: 100%;
}
.header__image {
  width: 100%;
  padding-bottom: 0;
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .header__logo {
    max-width: 254px;
    max-height: 66px;
    margin-top: 30px;
    padding-bottom: 90px;
  }
  .header__title {
    max-width: 530px;
    margin-bottom: 25px;
    font-size: 75px;
  }
  .header__content-image {
    max-width: 768px;
    max-height: 480px;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .header__logo {
    max-width: 188px;
    max-height: 82px;
    margin: 20px auto 50px;
  }
  .header__title {
    max-width: 228px;
    margin-bottom: 16px;
    font-size: 40px;
  }
  .header__content-image {
    max-width: 320px;
    max-height: 200px;
  }
}
